{% extends 'front.base.html.twig' %}

{% block body %}
    <h1>Create new Event</h1>
  <button style="background-color: orange">  <a href="{{ path('event_index_row') }}">back to list</a></button>

    {{ include('event/_form.html.twig') }}

{% endblock %}