{% extends 'front.base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edit Blog{% endblock %}




{% block body %}
<section class="page-heading">
    <div class="title-slide">
    <div class="container">
    <div class="banner-content slide-container">
    <div class="page-title">
    <h3>Our Blog</h3>
    </div>
    </div>
    </div>
    </div>
    </section>
    <h1>Edit Blog</h1>

    {{ include('blog/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('blog_index') }}">back to list</a>

    {{ include('blog/_delete_form.html.twig') }}
{% endblock %}
